.scroll,
.scroll a {
  color: white;
  background-color: black;
  text-align: center;
}

.scroll img {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: block;
}

.spacer {
  height: 2000px;
}

.white img {
  width: 100%;
}

html {
  height: 100%;
}
.main {
  display: flex;
  margin: 0;
  height: 100%;
  align-content: stretch;
}

.main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-size: 40px;
}

.main a {
  padding: 20px;
}

.main div:nth-child(1), 
.main div:nth-child(1) a{
  color: white;
  background-color: black;
}

.main div:nth-child(2), 
.main div:nth-child(2) a{
  color: black;
  background-color: white;
}

.black {
  background-color: black;
  text-align: center;
}

.black a {
  color: white;
}

.white {
  text-align: center;
  margin: 0;
}

.white a {
  color: black;
}